{% extends 'base.html' %} 
{% block title %} CDC {% endblock %} 

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'dashboard.css' %}" />
<script>
  // function passvalues(){
  //   let buttonPressed = event.target.id 
  //   var compid=document.getElementById(buttonPressed).value;
  //   localStorage.setItem('textvalue',compid);
  //   return false;
  // }
</script>
{% endblock %} 
{% block content %}
<body>
  <div class="box1">
    <img src="{% static 'iris.png' %}" class="img1" />
  </div>

  <div class="container1">
    <div class="sidebar">
      <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
          <li>
            <img src="{% static 'placement.png' %}" class="img1" />
          </li>
          <li>
            <a href="dashboard"
              ><i class="fa fa-dashboard"></i><span>Dashboard</span></a
            >
          </li>

          <li class="sub-menu">
            <a href="application"
              ><i class="fa fa-table"></i><span>your applications</span
              ><i class="arrow fa fa-angle-right pull-right"></i
            ></a>
          </li>
          <li class="sub-menu">
            <a href="/"
              ><i class="fa fa-table"></i><span>Log out</span
              ><i class="arrow fa fa-angle-right pull-right"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <form method="POST" class="outer">
      {% csrf_token %}
      <table class="table1">
        <tr>
          <th>company</th>
          <th>Role</th>
          <th>ctc</th>
        </tr>
        {% for comp in company %}
        <tr>
          <td>{{comp.name}}</td>
          <td>{{comp.roles}}</td>
          <td>{{comp.ctc}}</td>
        </tr>
        {% endfor %}
      </table>
    </form>
  </div>
</body>
{% endblock %}
