{% extends 'base.html' %}

{% block title %} CDC {% endblock %}

{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}

{% block content%} 
<body>
    <img src="{% static 'iris.png' %}" class="img1">
    <aside class="sidebar">
        <div id="leftside-navigation" class="nano">
          <ul class="nano-content">
            <li>
              <a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>
            </li>
            <li class="sub-menu">
              <a href="javascript:void(0);"><i class="fa fa-cogs"></i><span>UI Elements</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            </li>
            <li class="sub-menu">
              <a href="javascript:void(0);"><i class="fa fa-table"></i><span>Tables</span><i class="arrow fa fa-angle-right pull-right"></i></a>
            </li>
          </ul>
        </div>
      </aside>
</body> 

 {% endblock %} 