{% extends 'base.html' %} 
{% block title %} jobpage {% endblock %} 
{% load static %} 
{% block css %}
<link rel="stylesheet" href="{% static 'jobpage.css' %}" />
{% endblock %} 
{% block content %}
<body >
  <div class="box1">
    <img src="{% static 'iris.png' %}" class="img1" />
  </div>

  <div class="container1">
    <div class="sidebar">
      <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
          <li>
            <img src="{% static 'placement.png' %}" class="img1" />
          </li>
          <li>
            <a href="dashboard"
              ><i class="fa fa-dashboard"></i><span>Dashboard</span></a
            >
          </li>

          <li class="sub-menu">
            <a href="application"
              ><i class="fa fa-table"></i><span>your applications</span
              ><i class="arrow fa fa-angle-right pull-right"></i
            ></a>
          </li>
          {% if user.is_authenticated %}
          <li class="sub-menu">
            <a href="/"
              ><i class="fa fa-table"></i><span>Log out</span
              ><i class="arrow fa fa-angle-right pull-right"></i
            ></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <form method="POST" class="outer" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="desc">
        <h1 style="margin: auto; " >Hello {{request.user}}! </h1>
        <p></p>
          <div class="top">
            {% for jo in co %}
              <h2>Name</h2>
              <h5>{{jo.CompanyName}}</h5>

              <h2>Role</h2>
              <h5>{{jo.Roles}}</h5>

              <h2>Salary</h2>
              <h5>{{jo.Salary}}</h5>

              <h2>Description</h2>
              <h5>{{jo.Description}}</h5>
            {% endfor %}
          </div>

        <br /><br /><br/>
        <div class="detail">
          <div class="form__field">
            <label for="branchname"> <span class="hidden">Branch:&nbsp;&nbsp;</span></label>
            <div class="selectdiv">
              <label>
                  <select name="branch" id="branch">
                      <option value="Mechanical Engineering">
                        Mechanical Engineering
                      </option>
                      <option value="Civil Engineering">Labor(Civil)</option>
                      <option value="CSE">Windows Setup Gang(CSE)</option>
                      <option value="Artificial Intelligence">Digital GF(AI)</option>
                      <option value="Chemical">Walter White (Chemical)</option>
                      <option value="Electrical">Capacitor Change Expert(EEE)</option>
                      <option value="ECE">Bluetooth Device is ready to pair(ECE)</option>
                  </select>
              </label>
            </div>
          </div>
          <br /><br /><br/>
          <div class="form__field">
            <label for="rollno"> <span class="hidden">Roll no.:&nbsp;&nbsp;</span></label>
            <input
              autocomplete="roll"
              id="rollno"
              type="text"
              name="roll"
              class="form__input"
              placeholder="roll"
              required
            />
          </div>
          <br /><br /><br/>
          <div class="form__field">
            <label for="myfile">Upload Resume:&nbsp;&nbsp;</label>
            <input type="file" id="myfile" name="file" /><br/>
          </div>
          <br/><br/><br/>
          <div class="form__field">
            <button type="submit" class="btn" name="btn" id="result" value="btn">submit</button>
          </div>
          <!-- <script>
            document.getElementById("result").name=localStorage.getItem("textvalue");
          </script> -->
        </div>
      </div>
    </form>
  </div>
</body>
{% endblock %}
